# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Coverage directory
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Temp
tmp/
temp/

# Debug
.debug/
